doctype html 
html 	
	head 

	body 
		.container 
			h1 header
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dignissimos culpa, quia blanditiis minus quidem eos ut ullam possimus libero rerum commodi dolore, sequi optio consectetur, illo provident alias ea!

			hr

			ul 
				li item 1
				li item 2 
				li item 3
			p наприклад <b>такий</b> текст